<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Good Living - Results</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>
    <script>

      var map, heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: {{map_center_lat}}, lng: {{map_center_lng}}},
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
        // heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(0, 63, 91, 1)',
          'rgba(0, 127, 63, 1)',
          'rgba(0, 191, 31, 1)',
          'rgba(0, 255, 0, 1)'
        ]
        heatmap.set('gradient', gradient);
      }

      // Heatmap data: 500 Points
      function getPoints() {
        return [
        {{points_list}}
];
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsAGVLY_1AmYDKfHG5XMmvQziYJrRob4U&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>